<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="../../node_modules/simplebar/dist/simplebar.min.css">
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>
<style>
  .edit-admin-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    transition: box-shadow 0.3s, transform 0.3s;
  }


  .form-check-label {
    margin-left: 0.5rem;
  }

  .card-title {
    font-size: 1.2rem;
    /* color: #6c757d; */
  }
</style>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%- include('./parsials/sidebar')%>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <%- include('./parsials/header')%>
          <div class="container-fluid mt-5">
            <div class="card col-xs-12 col-sm-8 col-md-6 shadow-sm p-4 rounded edit-admin-card">
              <div class="card-body">
                <h5 class="card-title fw-bold text-primary mb-2">edit product</h5>
                <form class="form-horizontal" action="/product/updateproduct" method="post" >
                  <div class="card-body">
                    <h4 class="card-title ">Admin Details</h4>
                    <div class="form-group row mb-3">
                      <label for="id" class="col-sm-3 col-form-label ">ID</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="id" name="id" placeholder="ID" required
                          value="<%=data.id%>" hidden>
                      </div>
                    </div>
                  
               
                
                    <div class="mb-3 row">
                        <label for="fname" class="col-sm-3 col-form-label text-end">product
                            Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="fname" name="productname"
                                placeholder="product Name Here" required value="<%=data.productname%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="fname" class="col-sm-3 col-form-label text-end">product
                        price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="fname" name="productprice"
                                placeholder="product Price Here" required value="<%= data.productprice%>">
                        </div> 
                    </div>
                    <div class="mb-3 row">
                        <label for="fname" class="col-sm-3 col-form-label text-end">product
                            description</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="fname" name="productdescription"
                                placeholder="product description Here" required value="<%= data.productdescription%>">
                        </div>
                    </div>
                 

                  </div>
                  <div class="border-top pt-3">
                    <div class="card-body text-end">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
                class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a
                href="https://themewagon.com/" target="_blank"
                class="pe-1 text-primary text-decoration-underline">ThemeWagon</a></p>
          </div>
      </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>